{% extends 'base.html'%}
  

{% block head %}
<title>
    Inventory Management System
   </title>
{% endblock %}


{% block body %}


<div class="container">
    <h1 class="headerStyle">Location Details</h1>
  
    {% if tasks|length < 1 %}
  
      <h4 class="headerStyle" >There is no location. Add one below! </h4>
  
    {% else %}
     <table class="table table-striped table-bordered">
       <tr>
          <th>
              location Id
            </th>
               
            <th>
              location Name
            </th>
            
            <th>
              Action
            </th>
  
       </tr>
   
       {% for task in tasks %}
       <tr>
         <th>
           {{task.location_id}}</th>
         <th>{{task.location}}</th>
         <th>
           <a href="/dellocation/{{task.location_id}}"> Delete </a>
            <br>
           <a href="/updatelocation/{{task.location_id}}"> Update </a>
         </th>
       </tr>
       {% endfor %} 
     </table>
  {% endif %}
     <form class="form-inline" action="/location" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="locationname">
        </div>
      
        <div class="form-group">
           <input type="submit" class="btn btn-success" value="Add"> 
        </div>
     </form>

     <h2>{{msg}}</h2>


  </div>
{% endblock %}